{% extends 'base.html.twig' %}

{% block tabtitle %}
	Ma Compta
{% endblock %}

{% block content %}

	<div class="row row-cols-1 align-items-start gy-4">

		<div class="col">
			<a href="{{path('app_dossier_index')}}" class="btn btn-primary">Liste des dossiers</a>
		</div>

		<div class="col">
			{% include 'home/_partials/ecritures_list.html.twig' %}
		</div>

				<div class="col">
			{% include 'home/_partials/ecritures_total.html.twig' %}
		</div>
		
	</div>

{% endblock %}
