{% extends 'base.html.twig' %}

{% block tabtitle %}
	Ma Compta
{% endblock %}

{% block content %}

	<div class="row align-items-start gy-4">

		<div class="col">
			{% include 'home/_partials/dossiers_list.html.twig' %}
		</div>

	</div>

{% endblock %}
