{% extends 'base.html.twig' %}

{% block tabtitle %}
	Liste des écritures
{% endblock %}

{% block content %}

	<div class="row align-items-start gy-4">

		<div class="col">
			{% include 'ecriture/_partials/ecritures_list.html.twig' %}
		</div>
		
	</div>

{% endblock %}
