{% extends 'base.html.twig' %}

{% block tabtitle %}
	Liste des dossiers
{% endblock %}

{% block content %}

	<div class="row row-cols-1 align-items-start gy-4">

		<div class="col">
			<a href="{{path('app_home')}}" class="btn btn-primary">Liste des écritures</a>
		</div>

		<div class="col">
			{% include 'dossier/_partials/dossiers_list.html.twig' %}
		</div>

	</div>

{% endblock %}
