{% extends '_core/core.html.twig' %}

{% block body %}

	<header>
		{% include "_layout/header/header.html.twig" %}
	</header>

	<main>

		<div class="container py-5">
			{% block flash %}
				{% include "_layout/flash/flash.html.twig" %}
			{% endblock %}

			{% block content %}{% endblock %}
		</div>
	</main>

	<footer>
		{% block footer %}
			{# {% include "_layout/footer/footer.html.twig" %} #}
		{% endblock %}
	</footer>

{% endblock %}
