<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark py-2 border-bottom">
	<div class="container">

		{% include "_layout/header/_partials/logo.html.twig" %}

		{% include "_layout/header/_partials/menu_primary.html.twig" %}

	</div>
</nav>
